@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Questrial&display=swap");
* {
  font-family: 'Questrial', sans-serrif;
  padding: 0;
  margin: 0; }

p {
  color: #fff;
  font-size: 1.2em;
  padding: 0 1em 1em 1em; }

body {
  width: 100%;
  line-height: 1;
  background-color: #000000; }

hr {
  margin: 0;
  color: #0038f9; }

.header nav {
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #000000;
  font-size: 1.3em; }
  .header nav ul {
    display: flex; }
    .header nav ul li {
      list-style: none;
      margin: 1.25em; }
      .header nav ul li a {
        text-decoration: none;
        color: #fff; }

.navCancelar {
  display: none; }

.navMenu {
  margin-bottom: 0;
  padding-left: 0; }

.li-nav, .li-footer {
  display: inline;
  padding: 10px 5px;
  transition: all 1s ease 0s; }
  .li-nav:hover, .li-footer:hover {
    background-color: rgba(0, 56, 249, 0.7);
    box-shadow: 0 0 10px rgba(0, 56, 249, 0.7), 0 0 40px rgba(0, 56, 249, 0.7), 0 0 80px rgba(0, 56, 249, 0.7);
    border-radius: 10px; }

.cart {
  background-color: rgba(44, 66, 79, 0);
  border-style: none;
  width: 166px; }

.navLabel, .navInput {
  display: none; }

.banner img {
  width: 100%; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000; }

#btn-neon {
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 5em;
  font-weight: bold;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 10px;
  text-align: center; }
  #btn-neon span {
    position: absolute;
    display: block; }

#btn-neon:hover {
  background-color: rgba(0, 56, 249, 0.7);
  box-shadow: 0 0 10px rgba(0, 56, 249, 0.7), 0 0 40px rgba(0, 56, 249, 0.7), 0 0 80px rgba(0, 56, 249, 0.7);
  transition-delay: 1s; }
  #btn-neon:hover .span1 {
    left: 100%;
    transition: 1s; }
  #btn-neon:hover .span3 {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s; }
  #btn-neon:hover .span2 {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s; }
  #btn-neon:hover .span4 {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s; }

.span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(90deg, transparent, rgba(0, 56, 249, 0.7)); }

.span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 5px;
  background: linear-gradient(270deg, transparent, rgba(0, 56, 249, 0.7)); }

.span2 {
  top: -100%;
  right: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(0, 56, 249, 0.7)); }

.span4 {
  bottom: -100%;
  left: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(0, 56, 249, 0.7)); }

.sec {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);
  padding: 3em 0;
  display: flex;
  justify-content: center;
  box-sizing: border-box; }
  .sec .div {
    width: 400px;
    border: 2px groove rgba(0, 56, 249, 0.3);
    background-color: rgba(0, 56, 249, 0.2);
    border-radius: 15px; }
    .sec .div p {
      text-align: center;
      padding-top: 3em;
      line-height: 1.1em; }

.tituloQuienesSomos {
  font-family: "Montserrat", sans-serif;
  padding-top: 2em;
  font-size: 2em;
  text-align: center;
  color: #0038f9; }

.titleGaleria {
  font-family: "Montserrat", sans-serif;
  padding-top: 1.7em;
  font-size: 2em;
  text-align: center;
  color: #0038f9; }

.tituloProductos {
  font-family: "Montserrat", sans-serif;
  padding-top: 0.7em;
  font-size: 2em;
  text-align: center;
  color: #0038f9; }

.productos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg); }

.widthCard {
  margin: 3em 0;
  background-color: rgba(0, 17, 78, 0.5); }

.colorP {
  color: #0038f9; }

.secPorQueElegirnos {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg); }

.contenido {
  width: 400px;
  border: 2px groove rgba(0, 56, 249, 0.3);
  text-align: center;
  background-color: rgba(0, 56, 249, 0.2);
  border-radius: 15px;
  margin: 2em 7em; }
  .contenido h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #0038f9;
    margin: 1em; }
  .contenido a {
    margin-top: 1em; }
  .contenido img {
    margin-top: 1em; }

/* empieza ubicacion de POR QUE ELEGIRNOS */
.ubicacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ubicacion h3 {
    font-family: "Montserrat", sans-serif;
    padding-top: 0;
    font-size: 2em;
    text-align: center;
    color: #0038f9;
    margin: 2em; }
  .ubicacion iframe {
    border-radius: 1em;
    margin-bottom: 3em;
    width: 40%; }

.secContacto {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg); }

.colorTuerqa {
  color: rgba(0, 56, 249, 0.8);
  background: rgba(0, 17, 78, 0.3); }
  .colorTuerqa h1 {
    padding: 0.5em 0.5em 0.5em 0; }

#colorEnviar, #colorCancelar {
  color: rgba(0, 56, 249, 0.8);
  border-color: rgba(0, 56, 249, 0.8); }

.secTabla {
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg); }

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 30vh;
  border: 2px groove rgba(0, 56, 249, 0.3);
  background-color: rgba(0, 56, 249, 0.1);
  border-radius: 15px;
  cursor: default;
  margin: 0 1.5em; }

.carritoTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #00114e;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 3px linear-gradient(transparent, rgba(0, 0, 0, 0.533));
  line-height: 0.70em;
  animation: animate 5s linear infinite; }

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #00114e;
    text-shadow: none; }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #fff;
    text-shadow: 0 0 10px #0038f9, 0 0 20px #0038f9, 0 0 40px #0038f9, 0 0 80px #0038f9, 0 0 160px #0038f9; } }

.btnTienda {
  color: #0038f9;
  border-color: #0038f9; }
  .btnTienda:hover {
    color: rgba(0, 56, 249, 0.7);
    border-color: rgba(0, 56, 249, 0.7);
    box-shadow: 0 0 10px rgba(0, 56, 249, 0.7), 0 0 20px rgba(0, 56, 249, 0.7), 0 0 30px rgba(0, 56, 249, 0.7); }

.footer div {
  background-color: #000000;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer div ul {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .footer div ul li {
      list-style: none;
      margin: 2px;
      padding: 5px; }
      .footer div ul li a {
        text-decoration: none;
        color: #fff; }

.footerPages {
  margin: 0;
  padding: 0; }

.footerRedes {
  width: 158px; }

.mainGrid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto;
  grid-template-areas: "title" "sec" "galery"; }

.title {
  grid-area: title; }

.sec {
  grid-area: sec; }

.galery {
  grid-area: galery; }

@media only screen and (max-width: 934px) {
  .carritoTitle {
    font-size: 3em; } }

@media only screen and (max-width: 767px) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .enlace {
    order: 1; }
  .navLabel {
    display: block;
    cursor: pointer;
    order: -1;
    margin-left: 20px; }
  .navCancelar {
    display: block; }
  .navCancelar .navLabel {
    margin: 0; }
  .navMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    background: linear-gradient(to top, #000000, #00114e);
    width: 100%;
    left: 0;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: column;
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0.5s ease-in-out; }
  .navInput:checked + .navMenu {
    clip-path: inset(0 35% 0 0); }
  .cart {
    margin-left: 15px; }
  .cart > a > img {
    width: 40px; }
  .sec .div {
    margin: 0 48px; }
  .sec p {
    font-size: 1em; }
  .slider-frame {
    width: 100%; }
  .footer div {
    flex-direction: column; }
  .logo {
    width: 86px; }
  .footerRedes {
    margin: 15px 0; }
  /* media queries por que elegirnos */
  .contenido {
    margin: 2em 0; }
  .ubicacion > iframe {
    width: 80%; }
  /* media queries carrito de compras */
  .carritoTitle {
    font-size: 1.9em; } }

@media only screen and (max-width: 550px) {
  .tituloQuienesSomos {
    font-size: 1.5em; }
  .li-nav a, .li-footer a {
    font-size: 0.7em; }
  .li-footer a {
    font-size: 1em; }
  /* media queries carrito de compras */
  .carritoTitle {
    font-size: 1.2em; } }

@media only screen and (max-width: 465px) {
  #btn-neon {
    font-size: 2.5em; }
  .tituloQuienesSomos {
    font-size: 1.1em; }
  .sec > .div > p {
    font-size: 0.8em; }
  .cart > a > img {
    width: 30px; }
  .navLabel img {
    width: 40px; }
  .navLabel .imgCancelar {
    width: 20px; }
  /* media queries por que elegirnos */
  .contenido > p {
    font-size: 1em; } }
