@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Questrial&display=swap');

* {
    font-family: 'Questrial', sans-serrif;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    font-size: 1.2em;
    padding: 0 1em 1em 1em;
}

body {
    width: 100%;
    line-height: 1;
    background-color: #000000;
}

hr {
    margin: 0;
    color: #0038f9;
}

.header nav {
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background-color: #000000;
    font-size: 1.3em;
}

.header nav ul {
    display: flex;
}

    .header nav ul li {
        list-style: none;
        margin: 1.25em;
    }

        .header nav ul li a {
            text-decoration: none;
            color: white;
        }

.navCancelar {
    display: none;
}

.navMenu {
    margin-bottom: 0;
    padding-left: 0;
}

.li-nav {
    display: inline;
    padding: 10px 5px;
    transition: all 1s ease 0s;
}

.li-nav:hover {
    background-color: rgb(0, 56, 249, 0.7);
    box-shadow: 0 0 10px rgb(0, 56, 249, 0.7), 0 0 40px rgb(0, 56, 249, 0.7), 0 0 80px rgb(0, 56, 249, 0.7);
    border-radius: 10px;
} 

.cart {
    background-color: rgb(44, 66, 79,0);
    border-style: none;
    width: 166px;
}

.navLabel, .navInput {
    display: none;
}

.banner > img{
    width: 100%;
}

.title {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

#btn-neon{
    z-index: 1;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 5em;
    font-weight: bold;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    text-align: center;
}

#btn-neon:hover{
    background: rgb(0, 56, 249, 0.7);
    box-shadow: 0 0 10px rgb(0, 56, 249, 0.7), 0 0 40px rgb(0, 56, 249, 0.7), 0 0 80px rgb(0, 56, 249, 0.7);
    transition-delay: 1s;
 }
 #btn-neon span{
    position: absolute;
    display: block;
}

.span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, transparent,rgb(0, 56, 249, 0.7));
}

#btn-neon:hover .span1{
    left: 100%;
    transition: 1s;
}

.span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, transparent,rgb(0, 56, 249, 0.7));
}

#btn-neon:hover .span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.span2{
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,transparent,rgb(0, 56, 249, 0.7));
}

#btn-neon:hover .span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.span4{
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg,transparent,rgb(0, 56, 249, 0.7));
}

#btn-neon:hover .span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* termina header */

/* empieza main */

.sec {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);
    padding: 3em 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

    .sec .div {
        width: 400px;
        border: 2px groove rgb(0, 56, 249, 0.3);
        background-color: rgb(0, 56, 249, 0.2);
        border-radius: 15px;
    }

        .sec .div p{
            text-align: center;
            padding-top: 3em;
            line-height: 1.1em;
        }

.tituloQuienesSomos {
    font-family: 'Montserrat', sans-serif;
    padding-top: 2em;
    font-size: 2em;
    text-align: center;
    color: #0038f9;
}

/* termina main */

/* empieza Galeria */

h2 {
    font-family: 'Montserrat', sans-serif;
    padding-top: 50px;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.slider-frame {
	width: 70%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 15s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
    padding-bottom: 50px;
}

.slider-frame img {
	width: 100%;
    border-radius: 10px;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* termina galeria */

/* empieza footer */

.footer > div {
    background-color: #000000;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

    .footer > div > ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

        .footer > div > ul > li {
            list-style: none;
            margin: 2px;
            padding: 5px;
        }

            .footer > div > ul > li > a {
                text-decoration: none;
                color: white;
            }

.footerPages {
    margin: 0;
    padding: 0;
}
            
.footerRedes {
    width: 158px;
}
            

.li-footer {
    display: inline;
    padding: 10px 5px;
    transition: all 1s ease 0s;
}
            
.li-footer:hover {
    background-color: rgb(0, 56, 249, 0.7);
    box-shadow: 0 0 10px rgb(0, 56, 249, 0.7), 0 0 40px rgb(0, 56, 249, 0.7), 0 0 80px rgb(0, 56, 249, 0.7);
    border-radius: 10px;
}

/* termina footer */

/* empieza TIENDA */

.tituloProductos {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 3em 2em 0 2em;
    font-size: 2em;
    text-align: center;
    color: #0038f9;
}

.productos {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.productos .perifericos {
    background-color: #00114e;
    width: 12em;
    text-align: center;
    border: solid 1px #000000;
    margin: 7em 12em;
    border-radius: 1em;
    transition: all 1s ease 0s;
}

.perifericos:hover {
    transform: translateY(-10px);
    cursor: pointer;
    background-color: rgb(0, 56, 249, 0.4);
    box-shadow: 0 0 10px rgb(0, 56, 249, 0.7), 0 0 40px rgb(0, 56, 249, 0.7), 0 0 80px rgb(0, 56, 249, 0.7);
    border-radius: 10px;
}

.perifericos figcaption {
    color: white;
}

.perifericos figcaption > p {
    font-family: 'Montserrat', sans-serif;
    margin: 0 1em 1em 1em;
    padding: 0;
    font-size: 1em;
}

.perifericos figcaption > b {
    margin: 2em;
}

.perifericos figcaption > button {
    background-color: #00114e;
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    padding: 0 1em;
    margin: 1em 0;
    cursor: pointer;
}

.perifericos figcaption > img {
    margin: 1em 1em;
    border-radius: 5px;
} 

/* termina TIENDA */

/* empieza POR QUE ELEGIRNOS */

.contenido > h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: #0038f9;
    margin: 1em;
}

.secPorQueElegirnos {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.contenido {
    width: 400px;
    border: 2px groove rgb(0, 56, 249, 0.3);
    text-align: center;
    background-color: rgb(0, 56, 249, 0.2);
    border-radius: 15px;
    margin: 2em 7em;
}

    .contenido > img {
        margin-top: 1em;
    }

        .contenido > a > img {
            margin-top: 1em;
        }

/* termina main de POR QUE ELEGIRNOS */

/* empieza ubicacion de POR QUE ELEGIRNOS */

.ubicacion  {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ubicacion > h2 {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #0038f9;
    font-size: 2em;
    margin: 2em;
}

.ubicacion > iframe {
    border-radius: 1em;
    margin-bottom: 3em;  
    width: 40%;
}

/* Termina POR QUE ELEGIRNOS */

/* empieza CONTACTO */

.secContacto {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);
    width: 100%;
}

.contenedorContacto {
    background-color: rgb(0, 56, 249, 0.2);
    width: 450px;
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7px;
}

.contenedorContacto > h3 {
    color: #0038f9;
    text-align: center;
    font-size: 2em;
    margin: 1em;
}

.contenedorContacto input, textarea {
    width: 100%;
    margin-bottom: 1em;
    padding: 7px;
    box-sizing: border-box;
    font-size: 1em;
    border: none;
}

.enviar-cancelar {
    background-color: rgb(0, 56, 249, 0.3);
    color: #fff;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.enviar-cancelar:hover {
    background-color: rgb(0, 56, 249, 0.3);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2), 0 0 40px rgba(255, 255, 255, 0.2), 0 0 80px rgba(255, 255, 255, 0.2);
}

textarea {
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
}

/* termina CONTACTO */

/* empieza CARRITO DE COMPRAS */

.secTabla {
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;
    border: 2px groove rgb(0, 56, 249, 0.3);
    background-color: rgb(0, 56, 249, 0.1);
    border-radius: 15px;
    cursor: default;
    margin: 0 1.5em;
}

.carritoTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: #00114e;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 3px linear-gradient(transparent, rgba(0, 0, 0, 0.533));
    line-height: 0.70em;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #00114e;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #0038f9,
        0 0 20px #0038f9,
        0 0 40px #0038f9,
        0 0 80px #0038f9,
        0 0 160px #0038f9;
    }
}

/* boton ir a Tienda */
.boton-neon {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: 0;
    color: #001e8a;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-out 200ms;
    animation: efecto-texto-luz 3s ease-in infinite normal both;
}

.boton-neon:hover {
    color: #0038f9;
    text-shadow: 0 0 3px #0038f9;
    animation: none !important;
}
.boton-neon::after,
.boton-neon::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: -3px;
    top: -3px;
    border: 3px solid #001e8a;
    border-radius: 8px;
    box-sizing: initial;
    transition: all ease-out 200ms;
    animation: efecto-luz 3s ease-in infinite normal both;
}
.boton-neon:hover::before,
.boton-neon:hover::after {
    border-color: #0038f9;
    animation: none !important;
}
.boton-neon:hover::before {
    filter: blur(4px);
}
.boton-neon:active {
    color: #001e8a;
    text-shadow: 0 0 0 #001e8a;
}
.boton-neon:active::before,
.boton-neon:active::after {
    border-color: #001e8a;
    animation: none !important;
}

@keyframes efecto-texto-luz {
    from, 20%, 36%, to {
        color: #001e8a;
    }
    23% {
        color: #0038f9;
    }
}

@keyframes efecto-luz {
    from, 60%, 70%, 95% {
        border-color: #001e8a;
    }
    65%, to {
        border-color: #0038f9;
    }
}

/* termina CARRITO DE COMPRAS */

/* empieza grids y media first */

.mainGrid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "sec" "galery";
}

.title {
    grid-area: title;
}

.sec {
    grid-area: sec;
}

.galery {
    grid-area: galery;
}

/* empieza media queries */

@media only screen and (max-width: 750px){
    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

    .enlace {
        order: 1;
    }

    .navLabel {
        display: block;
        cursor: pointer;
        order: -1;
        margin-left: 20px;
    }

    .navCancelar {
        display: block;
    }

    .navCancelar > .navLabel {
        margin: 0;
    }

    .navMenu {
        position: fixed;
        top: 0;
        bottom: 0;
        background: linear-gradient( to top, #000000, #00114e);
        width: 100%;
        left: 0;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: baseline;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 0.5s ease-in-out;
    }

    .navInput:checked + .navMenu {
        clip-path: inset(0 35% 0 0);
    }

    .cart {
        margin-left: 15px;
    }

    .cart > a > img {
        width: 40px;
    }

    .sec .div {
        margin: 0 48px;
    }

        .sec .div p {
            font-size: 1em;
        }

    .slider-frame {
        width: 100%;
    }

    .footer > div {
     flex-direction: column;
    }
    
    .logo {
        width: 86px;
    }

    .footerRedes {
        margin: 15px 0;
    }

    /* media queries por que elegirnos */

    .contenido {
        margin: 2em 1em;
    }

    .ubicacion > iframe {
        width: 80%;
    }

    /* media queries carrito de compras */
    
    .carritoTitle {
        font-size: 1.9em;
    }

}

@media only screen and (max-width: 550px){
    .tituloQuienesSomos {
        font-size: 1.5em;
    }
    
    .li-nav > a {
        font-size: 0.7em;
    }

    /* media queries carrito de compras */

    .carritoTitle {
        font-size: 1.2em;
    }
}

@media only screen and (max-width: 390px){
    #btn-neon {
        font-size: 2.5em;
    }

    .tituloQuienesSomos {
        font-size: 1.1em;
    }

    .sec > .div > p {
        font-size: 0.8em;
    }

    .cart > a > img {
        width: 30px;
    }

    .navLabel img {
        width: 40px;
    }

    .navLabel .imgCancelar {
        width: 20px;
    }

    /* media queries por que elegirnos */

    .contenido > p {
        font-size: 1em;
    }
}
