//colores
$colorDark: #000000;
$colorLight: #fff;
$colorDefa: #00114e;
$colorLele: #0038f9;
$colorLele1: rgba(0 , 56, 249, .7);
$colorLele2: rgba(0, 56, 249, 0.2);
$colorLele3: rgba(0, 56, 249, 0.3);  

//sizing
$w-100:100%;

//display flex, grid
$d-flex: flex;
$d-grid: grid;

//img de fondo 
$imgFondo: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../img/header2.jpg);