.mainGrid {
    display: $d-grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "sec" "galery";
}

.title {
    grid-area: title;
}

.sec {
    grid-area: sec;
}

.galery {
    grid-area: galery;
}