.header {
    nav {
        width: $w-100;
        z-index: 2;
        display: $d-flex;
        @include flex (space-around, center);
        position: sticky;
        top: 0;
        background-color: map-get($map:$paleta,$key:'uno');
        font-size: 1.3em;
        ul {
            display: $d-flex;
            li{
                list-style: none;
                margin: 1.25em;
                a{
                    text-decoration: none;
                    color: map-get($map:$paleta,$key:'dos');
                }
            }
        }
    }
}

.navCancelar {
    display: none;
}

.navMenu {
    margin-bottom: 0;
    padding-left: 0;
}

.li-nav {
    display: inline;
    padding: 10px 5px;
    transition: all 1s ease 0s;
    &:hover {
        background-color: map-get($map: $paleta, $key: 'cinco');
        box-shadow: 0 0 10px map-get($map: $paleta, $key: 'cinco'), 0 0 40px map-get($map: $paleta, $key: 'cinco'), 0 0 80px map-get($map: $paleta, $key: 'cinco');
        border-radius: 10px;
    }
}

.cart {
    background-color: map-get($map: $paleta, $key: 'ocho');
    border-style: none;
    width: 166px;
}

.navLabel, .navInput {
    display: none;
}

.banner {
    img {
        width: $w-100;
    }
}