.secTabla {
    background-image: $imgFondo;
}

.contenedor {
    display: flex;
    @include flex (center, center);
    flex-wrap: wrap;
    height: 30vh;
    border: 2px groove map-get($map: $paleta, $key: 'siete');
    background-color: map-get($map: $paleta, $key: 'trece');
    border-radius: 15px;
    cursor: default;
    margin: 0 1.5em;
}

.carritoTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 4em;
    color: map-get($map: $paleta, $key: 'tres');
    text-transform: uppercase;
    width: $w-100;
    text-align: center;
    -webkit-box-reflect: below 3px linear-gradient(transparent, map-get($map: $paleta, $key: 'catorce'));
    line-height: 0.70em;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
        color: map-get($map: $paleta, $key: 'tres');
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
        color: map-get($map: $paleta, $key: 'dos');
        text-shadow: 0 0 10px map-get($map: $paleta, $key: 'cuatro'),
        0 0 20px map-get($map: $paleta, $key: 'cuatro'),
        0 0 40px map-get($map: $paleta, $key: 'cuatro'),
        0 0 80px map-get($map: $paleta, $key: 'cuatro'),
        0 0 160px map-get($map: $paleta, $key: 'cuatro');
    }
}

.btnTienda {
    color: map-get($map: $paleta, $key: 'cuatro');
    border-color: map-get($map: $paleta, $key: 'cuatro');
    &:hover {
        color: map-get($map: $paleta, $key: 'cinco');
        border-color: map-get($map: $paleta, $key: 'cinco');
        box-shadow: 0 0 10px map-get($map: $paleta, $key: 'cinco'), 0 0 20px map-get($map: $paleta, $key: 'cinco'), 0 0 30px map-get($map: $paleta, $key: 'cinco');
    }
}