.tituloProductos {
    @include titles (0.7em, 2em);
}

.productos {
    background-image: $imgFondo;
}

.widthCard {
    margin: 3em 0;
    background-color: map-get($map: $paleta, $key: 'diez');
}

.colorP {
    color: map-get($map: $paleta, $key: 'cuatro');
}