//empieza TITULO de todas las paginas
.title {
    display: $d-flex;
    @include flex (center, center);
    background: map-get($map: $paleta, $key: 'uno');
}

#btn-neon {
    z-index: 1;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: map-get($map: $paleta, $key: 'dos');
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 5em;
    font-weight: bold;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 10px;
    text-align: center;
    span {
        position: absolute;
        display: block;
    }
}

#btn-neon:hover {
    background-color: map-get($map: $paleta, $key: 'cinco');
    box-shadow: 0 0 10px map-get($map: $paleta, $key: 'cinco'), 0 0 40px map-get($map: $paleta, $key: 'cinco'), 0 0 80px map-get($map: $paleta, $key: 'cinco');
    transition-delay: 1s;
    .span1 {
        left: 100%;
        transition: 1s;
    }
    .span3 {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s; 
    }
    .span2{
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }
    .span4{
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }
}

.span1 {
    top: 0;
    left: -100%;
    width: $w-100;
    height: 5px;
    background: linear-gradient(90deg, transparent, map-get($map: $paleta, $key: 'cinco'));
}

.span3 {
    bottom: 0;
    right: -100%;
    width: $w-100;
    height: 5px;
    background: linear-gradient(270deg, transparent, map-get($map: $paleta, $key: 'cinco'));
}

.span2 {
    top: -100%;
    right: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(180deg,transparent, map-get($map: $paleta, $key: 'cinco'));
}

.span4{
    bottom: -100%;
    left: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(360deg,transparent, map-get($map: $paleta, $key: 'cinco'));
}
//termina TITULO de todas las paginas

//empieza main INICIO
.sec {
    background-image: $imgFondo;
    padding: 3em 0;
    display: $d-flex;
    justify-content: center;
    box-sizing: border-box;
    .div {
        width: 400px;
        border: 2px groove map-get($map: $paleta, $key: 'siete');
        background-color: map-get($map: $paleta, $key: 'seis');
        border-radius: 15px;
        p {
            text-align: center;
            padding-top: 3em;
            line-height: 1.1em;
        }
    }
}

.tituloQuienesSomos {
    @include titles (2em, 2em);
}
//termina main INICIO

//empieza galeria INICIO
.titleGaleria {
    @include titles (1.7em, 2em);
}
//termina galeria INICIO