* {
    font-family: 'Questrial', sans-serrif;
    padding: 0;
    margin: 0;
}

p {
    color: #fff;
    font-size: 1.2em;
    padding: 0 1em 1em 1em;
}

body {
    width: 100%;
    line-height: 1;
    background-color: #000000;
}

hr {
    margin: 0;
    color: #0038f9;
}